@import 'utils';

.menu {
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  position: relative;
  background: $oc-green-7;
  @include menuButton();
  border-radius: 20px;
  cursor: pointer;
  float: left;
  margin: 15px 15px 15px 15px;
  font: 130% $font-stack;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &:hover {
    background: $oc-green-6;
  }
  &:active {
    margin-top: 17px;
    background: $oc-pink-6;
  }
}
