@import 'utils';

.dashboard {
  position: relative;
  width: 80%;
  height: 1400px;
  margin: auto;
  background: #f2f2f2;
  @include box-shadow();
}

.greeting {
  text-align: center;
  width: 100%;
  @include media('<huge') {
    width: 1024px;
  }

  @include media('<large') {
    width: 768px;
  }

  @include media('<medium') {
    width: 90%;
  }
}

.menus {
  position: absolute;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
