@import '~open-color/open-color';
@import '~include-media/dist/include-media';

$font-stack: Helvetica, sans-serif;

@mixin contentBox() {
  width: auto;
  height: auto;
}

@mixin place-at-center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
