@import '~open-color/open-color';
@import '~include-media/dist/include-media';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

$font-stack: Helvetica, sans-serif;
$font-family: 'Quicksand', sans-serif;
$margin-from-menu: 140px;

$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1024px,
  huge: 1200px
);

@mixin box-shadow() {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
@mixin contentBox() {
  width: auto;
  height: auto;
}
@mixin menuButton() {
  width: 200px;
  height: 40px;
}

@mixin place-at-center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin border() {
  border-style: solid;
  border-width: 2px;
}
